@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.lottie_style {
}
.home_style {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_style h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

.home_style .gradient-text {
  color: transparent;
  background: conic-gradient(
    #e14d2a 12%,
    #fd841f 12%,
    #fd841f 33%,
    #3e6d9c 33%,
    #3e6d9c 55%,
    #277bc0 55%,
    #277bc0 70%,
    #3ab0ff 70%,
    #3ab0ff 87%,
    #ffb200 87%
  );
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;

  animation: expand-rev 0.5s ease forwards;

  cursor: pointer;
}

.home_style .gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}
